<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h3>Receive Snort alert via Email</h3>
            </div>
            <div class="alert alert-danger" role="alert"></div>
        </div>
    </div>
    <div>
        <div class="row mb-3">
            <div class="col-sm-9">
                <h3>Current Email :</h3>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
        <table class="table-email table table-bordered table-striped mb-0">
            <thead>
                <tr class="table-success">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < email.length; i++) { %>
                    <tr>
                        <td class="name"><%= email[i].name %></td>
                        <td class="email"><%= email[i].email %></td>
                        <td class="phone"><%= email[i].phone %></td>
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i
                                    class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
    </div>

</div>