.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #343a40;
}
.table thead th{
  position: sticky;
  top: 0;
  /* background-color: #343a40; */
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.my-custom-scrollbar.email {
  height: 150px;
}
.table-wrapper-scroll-y {
  display: block;
}
.container{
  margin-top: 80px;
}
.text-right{
  right: 50px;
}
a{
  color: #7F8C8D;
  /* text-transform: uppercase; */
}
a:hover{
  color: #dddddd;
}
.alert-success, .alert-danger{
  display: none;
}

/* ------------------------------ */
/* .table-wrapper {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
} */
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table-email {
  table-layout: fixed;
}
table.table-email tr th, table.table-email tr td {
  border-color: #e9e9e9;
}
table.table-email th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table-email td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    
table.table-email td a.add{
  color: #27C46B;
}
table.table-email td a.edit {
  color: #FFC107;
}
table.table-email td a.delete {
  color: #E34724;
}
table.table-email td i {
  font-size: 19px;
}
table.table-email td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table-email .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table-email .form-control.error {
  border-color: #f50000;
}
table.table-email td .add {
  display: none;
}
