.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #343a40;
}
.table thead th{
  position: sticky;
  top: 0;
  /* background-color: #343a40; */
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.my-custom-scrollbar.email {
  height: 150px;
}
.table-wrapper-scroll-y {
  display: block;
}
.container{
  margin-top: 80px;
}
.text-right{
  right: 50px;
}
a{
  color: #7F8C8D;
  /* text-transform: uppercase; */
}
a:hover{
  color: #dddddd;
}
.alert-success, .alert-danger{
  display: none;
}
